.contact-container {
  padding: 4rem 2rem;
  color: #fff;
  text-align: center;
}

.contact-content {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-links {
  margin-top: 1rem;
}

.contact-icon {
  color: #f4d147;
  font-size: 2rem;
  margin: 0 1rem;
  transition: color 0.3s;
}

.contact-icon:hover {
  color: #e6b800;
}
