.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.home-content {
  max-width: 800px;
}

.home-data {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 4px solid #f4d147;
  transition: transform 0.3s, box-shadow 0.3s;
  object-fit: cover; /* Ensure the image covers the container */
}

.profile-image:hover {
  transform: scale(1.1); /* Slightly larger on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

h1 {
  margin: 0.5rem 0;
  font-size: 2.8rem;
  color: #f4d147; /* Gold color */
}

p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400; /* Adjust font weight */
  font-family: "Montserrat", sans-serif;
}

.social-links {
  margin-top: 1rem;
}

.social-icon {
  color: #f4d147;
  font-size: 2rem;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #e6b800; /* Darker gold color on hover */
}
