/* Existing styles */

.skills-container {
  padding: 4rem 2rem;
  color: #fff;
  text-align: center;
}

.skills-content {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-category {
  background: #1a1a1a;
  color: #f4d147;
  padding: 1rem;
  padding-bottom: 1.8rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.skills-category h3 {
  margin-top: 0;
  color: #f4d147;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* Additional styles for hover effect and skill name */

.skill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-name {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  background: rgba(26, 26, 26, 0.9); /* Slightly transparent black */
  color: #f4d147;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: visibility 0.3s, opacity 0.3s;
}

.icon {
  font-size: 4rem;
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

.skill-item:hover .icon {
  transform: scale(1.15); /* Slightly larger on hover */
}

.skill-item:hover .skill-name {
  visibility: visible;
  opacity: 1;
}
